.container {
    width: 100%;
    max-width: 440px;
    margin: 50px auto;
    padding: 0 15px;
  }
  
  .container a {
    background-color: #befa00;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  @media (max-width: 600px) {
    .container {
      max-width: 320px;
      padding: 0 10px;
    }
  }